body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  margin-bottom: 1rem;
  text-align: center;
}

.sbCard {
  margin-bottom: 1rem;
}

.links {
  text-decoration: none;
}

.fpGrid {
  max-width: 80%;
  margin: 3rem auto;
  padding: 1rem;
  background: #555;
  color: #fff;
  justify-content: center;
  border-radius: 0.5rem;
}
